<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.153971947511-n72tp7hdelao4ejmq7p5957g23216ffr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-153971947511-ios-aeb90d65f8455904a120f2</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>153971947511-n72tp7hdelao4ejmq7p5957g23216ffr.apps.googleusercontent.com</string>
</dict>
</plist>
